/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*******************
INDEX 
********************/
body {
	background-color: aliceblue;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
/**********
NAV STYLING
***********/

nav {
	background-color: white;
	width: 100%;
	text-align: right;
	position: fixed;
	top: 0;
	border-bottom: solid 3px #000000;
	height: 56px;
	
}
nav ul {
	list-style: none;
	margin: 0;
}
nav a {
    color:black;
	text-decoration: none;
	font-size: 20px;
	font-family: 'Raleway', "sans-serif";
}

nav a:hover {
	border-bottom: 4px solid rgb(5, 85, 112);
	
}
nav li {
    color: white;
    display: inline-block;
    padding: 18px 10px;
}
.active {
	border-bottom: 4px solid rgb(5, 85, 112);
}
/********
MAIN CONTENT OF HOMEPAGE
*********/
main {
	margin-top: 58px;
	margin-bottom: 2%;
	height: 100%;
}
.banner {
	background-image: url(../img/binarycode.jpg);
	height: 500px;
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 2%;
	
}
.banner-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	justify-content: space-evenly;
	background-color: rgb(5, 85, 112);
	height: 45%;
	width: 45%;
	
	
}
.banner-text h1 {
	font-size: 4.5rem;
	color: white;
	font-weight: 700;
	font-family: 'Acme', sans-serif;
}
.banner-text p {
	font-size: 3rem;
	color: white; 
}
.main-content {
	width: 95%;
	height: 600px;
	margin: 0 auto;
	display: flex;
	justify-content: space-evenly;
}
h2 {
	font-size: 8rem;
	text-align: center;
	margin: 2% 0;
	font-weight: 700;
	text-shadow:5px 5px 10px rgb(17, 17, 17);
	
}
.inner-content {
	background-color:  rgb(5, 85, 112);
	width: 55%;
	height: 550px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	justify-content: center;
	padding: 15px 12px;
	box-shadow: 8px 8px 8px  rgb(5, 85, 112);
	border: 2px white solid;
	margin-bottom: 50px;
}
.right {
	margin-left: 1%;
}
.left {
	margin-right: 1%;
}
.inner-content p {
	color: white;
	width: 100%;
	height: 300px;
	font-size: 1.3rem;
	line-height: 1.5;
	font-family: 'Raleway', "sans-serif";

}

.inner-content img{
	width: 50%;
	height: 45%;
	margin-top: 10px;
	
}
footer .social-media img {
	margin-right: 15px;
	height: 50px;
	width: 50px; 

}
footer .social-media {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;	
}
footer {
	text-align: center;
	border-top: solid 4px black;
	background-color: white;
	width: 100%;
	height: 110px;
	margin: auto auto 0 auto;
}

/**********
CONTACT PAGE
***********/
.contact-heading {
	text-align: center;
	font-size: 5rem;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 30px;

	
}
.contact-content {
	width: 80%;
	height: 750px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color:  rgb(5, 85, 112);
	box-shadow: 8px 8px 8px  rgb(12, 119, 155);
}
label {
	display: block;
	color: white;
	padding: 10px 0 10px 0;
	font-size: 1.5rem;

}
input {
	width: 400px;
	height: 20px;
	font-size: 1rem;
}
textarea {
	width: 500px;
}
.form-button {
	width: 60px;
}
/*********
MY-WORK
**********/
.work-heading {
	font-size: 5rem; 
	color: black;
	text-shadow: none;
	text-align: center;
	margin: 20px 0 30px 0;
}
.work-content {
	width: 90%;
	margin: 0 auto 5% auto;
	display: flex;
	height: 670px;

}
.website-heading{ 
	font-size: 3.8rem;
	padding: 10px;
	color: #000000;
	text-shadow: none;
	background: rgb(9, 130, 170);
	border: solid 2px white;
	margin: 0 auto;
	width: 88.6%;


}
.website-projects {
	background-color: rgb(5, 85, 112);
	border: solid 2px white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	box-shadow: 5px 5px 5px  rgb(17, 164, 213);
	
}

	

.website-projects h3 {
	margin: 25px 0;
	font-size: 2.1rem;
	font-weight: 700;
	color: black;
	border-bottom: 5px solid black;
	
}
.website-projects figure {
	width: 90%;
	height: 80%;
	
	padding: 0 5px 0 5px;
}

.website-projects figure img {
	width: 75%;
	height: 55%;
	margin-left: 13%;
}
.website-projects figure figcaption {
	font-size: 1.1rem;
	line-height: 1.7;
	width: 100%;
	padding-left: 4px;
	color: white;
	background-color: rgb(0, 101, 134);
}

.button input {
	margin-bottom: 10px;
	height: 55px;
	font-size: 27px;
	font-weight: 700;
	font-family: 'Raleway', "sans-serif";
	border: solid 2px black;
}
.button input:hover {
	background-color: rgb(9, 130, 170);
	color: white;

	
}

/**********
BIOGRAPHY STYLING
**********/
.biography-heading {
	font-size: 5rem;
	text-align: center;
	margin: 20px 0 30px 0;
}
.article-content {
	display: flex;
	justify-content: center;
	margin: 0 10px 0 10px;
	width: 98%;
	height: 100%;
}
.inner-heading {
	font-size: 2.3rem;
	padding-top: 2px;
	background-color: rgb(41, 112, 175);
	color: white;
	text-shadow: none;
	margin-top: 0;
	height: 50px;
	border-bottom: white 2px solid;
}
.inner-bio-content {
	border: solid 2px white;
	width: 50%;
	height: 600px;
	background: rgb(5, 85, 112);
	box-shadow: 7px 7px 5px rgb(5, 125, 165);
	
}
.bio-figure {
	width: 90%;
	margin-bottom: 2%;
	margin: 0 auto;
	transition: transform 2s ease;
	

}
.bio-figure:hover {
	transform: scale(1.1);
}
.bio-figure img {
	width: 100%;
	height: 300px;

}
.bio-figure figcaption {
background-color: rgb(0, 101, 134);
color: white;
padding: 0 2%;
font-size: 1.1rem;
display: flex;
line-height: 1.3;
width: 96%;
height: 230px;
font-family: 'Raleway', "sans-serif";
}



/***********
GALLERY-PAGE
************/
.gallery {
	margin-top: 100px;
	width: 100%;
}
.gallery h1 {
	font-size: 5rem;
	text-align: center;
	
	color: #000000;
	margin: 0 0 20px 0;
}
.gallery-images {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	margin-bottom: 1.5rem;
}
.gallery-figure {
	width: 28%;
	height: 100%;
	box-shadow: 5px 5px 2px rgb(166, 196, 223);
	border: black 2px solid;


}
.gallery-images img {
width: 100%;
height: 300px;
display: block;
}
.gallery-images figcaption {
	background-color: rgb(5, 85, 112);
	color: white;
	font-weight: 700;
	font-size: 1.5rem;
	width: 100%;
	height: 120px;
	font-family: 'Raleway', "sans-serif";
	display: flex;
	justify-content: center;
	align-items: center;
	
	
}
/*************
RESUME STYLING
**************/
.resume {
	height: 100%;
}
.resume p {
	font-family: 'Raleway', "sans-serif";
}
.resume-heading {
	font-size: 5rem;
	text-align: center;
	text-shadow: none;

	margin: 10px 0 40px 0;

}
hr {
	border: none;
	height: 2px;
	background-color: #000000;
}
.resume-name {
	font-size: 5.5rem;
	text-shadow: none;
	width: 95%;
	margin: 0 auto;
	border-bottom: 4px solid white;
	background-color:rgb(41, 112, 175);

}
.resume-header-content {
	display: flex;
	width: 95%;
	margin: 0 auto;
	height: 270px;
}
.resume-inner-content {
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(5, 85, 112);
}
.resume-header-content p {
	padding: 10px 20px;
	color: white;
	font-size: 1.7rem;
	line-height: 1.5
}
.resume-contact-content {
	background-color: rgb(5, 128, 168);
	border-left: 2px white solid;
}
.section-heading-experience {
	margin: 30px auto 0 auto;
	text-shadow: none;
	font-size: 4rem;
	width: 95%;
	background-color: rgb(41, 112, 175);
}
.experience-content {
	width: 95%;
	display: flex;
	margin: 0 auto;
	height: 280px;
	
}
.jobs {
	width: 100%;
	background-color: rgb(5, 85, 112);
	border-top: white 2px solid;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.middle {
	border-left: 2px white solid;
	border-right: 2px white solid;
}
.jobs h3{
	font-size: 2.1rem;
	margin-bottom: 10px;
	color: white;
	align-self: center;
}
.time-worked {
	color: rgb(10, 170, 223);
	font-size: 1.2rem;
}
.jobs ul li {
	margin: 10px 0;
	color: white;
	font-size: 1.2rem;
}
.skills-education-content {
	display: flex;
	width: 95%;
	margin: 20px auto;
	height: 300px;
	background-color: rgb(5, 85, 112);
}
.education, .skills {
	width: 50%;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.education {
	border-right: white 4px solid;
}
.education h3 {
	font-size: 2.1rem;
	margin-bottom: 10px;
	color: white;
}
.education-heading, .skills-heading {
	font-size: 3rem;
	text-shadow: none;
	width: 100%;
	background-color: rgb(41, 112, 175);
	margin-top: 0;
}
.skills ul li, .education ul li {
	margin: 10px 0;
	color: white;
	font-size: 1.4rem; 
	margin: 15px 0;
	color: white;
	font-size: 1.5rem;
}
/*********
MEDIA QUERIES
**********/
@media screen and (max-width: 420px) {
/**********
HOMEPAGE QUERIES
************/
	.main-content {
		height: 100%;
	}
	.banner-text {
		width: 70%;
		height: 30%;
	}
	.banner-text h1 {
		font-size: 2rem;
	}
	.banner-text p {
		font-size: 1.5rem;
	}
	h2 {
		font-size: 3rem;
	}
	nav li {
		display: none;
	}
	.main-content {
		display: block;
	}
	.inner-content p {
		font-size: 1rem;
	}
	.inner-content img {
		height: 38%;
	}
	.inner-content {
		width: 90%;
	}
	/*************
	GALLERY QUERIES
	**************/
	.gallery {
		width: 100%;
	}
	.gallery-images {
		display: block;
		width: 75%;
		margin: 0 auto;

	}
	.gallery-images img {
		width: 300px;
	}
	.gallery-figure {
		border: none;
		box-shadow: none;
		margin-top: 20px;
	}
	.gallery-figure figcaption {
		width: 300px;
		height: 100px;
	}
	/*************
	WORK PAGE QUERIES
	**************/
	.work-content {
		height: 100%;
		display: block;
	}
	.work-heading {
		font-size: 2.8rem;
	}
	.website-heading {
		font-size: 2rem;

	}
	.website-projects h3 {
		font-size: 1.5rem;
	}
	.website-projects figure figcaption {
		font-size: 10px;
	}
	 .david-hasselhoff {
		margin: 10px 0 0 0;
	}
	.button {
		height: 100%;
		box-shadow: none;
	}
	.button input {
		height: 20px;
		font-size: 10px;
	}
/***********
BIOGRAPHY QUERIES
********/
.biography-heading {
	font-size: 2.8rem;
}
.article-content {
	display: block;
	width: 100%;
}
.inner-bio-content {
	width: 90%;
	height: 450px;
	margin: 0 auto;
}
.bio-figure img {
	height: 200px;
}
.bio-figure figcaption {

	color: white;
	font-size: 11.5px;
	line-height: 2;
	width: 100%;
	height: 180px;
	}
	/************
	CONTACT QUERIES
	*************/

	.contact-heading {
		font-size: 2.8rem;
	}
	.contact-content {
		height: 530px;
		box-shadow: 5px 5px 5px  rgb(12, 119, 155);
		margin-bottom: 4%;
	}
	label {
		font-size: 1rem;
	}
	input  {
		width: 200px;
		height: 14px;
	}
	textarea {
		height: 100px;
		width: 300px;
		
	}
	/**********
	RESUME QUERIES
	***********/
	.resume-contact-content {
		width: 100%;
	}

	.resume-header-content, .experience-content {
		display: block;
	}
	.resume-header-content p {
		font-size: .9rem;
		width: 100%;
		margin: 0;
	}
	.resume-header-content {
		width: 99%;
		

	}
	.resume-inner-content {
		width: 100%;
	}
	.resume-name {
		font-size: 2rem;
		width: 100%;
		margin: 0 auto;
		
	}
	.resume {
		height: 100%;
	}
	.section-heading-experience {
		font-size: 2rem;
	}
	.experience-content h3 {
		font-size: 1rem;
	}
	.time-worked {
		font-size: 1rem;
	}
	.jobs ul li{
		font-size: 1rem;
	}
	.skills-education-content {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 500px;

	
	
	}

	.experience-content {
		height: 100%;
	}
	.education, .skills {
		width: 100%;
		display: block;
		height: 50%;
	}
	.skills-heading, .education-heading {
		font-size: 1rem;
	}
	.skills ul li, .education ul li {
		font-size: 1rem;
	}
	
}